@using WeatherInfo.Web.Models.Weather
@model MainViewModel
@{
    ViewBag.Title = "Main";
}

@Scripts.Render("~/js/main/WeatherController.js")
@Scripts.Render("~/js/main/LocationService.js")
@Scripts.Render("~/js/main/GeoLocationService.js")

<h2>Locations</h2>

<div data-ng-app="weather-main" data-ng-controller="weatherController" data-ng-init="init()">
    <div>
        <ul class="list-group">
            <li class="list-group-item">
                <span class="badge"><span id="currentLocationTemperature">54</span>&deg; <span id="currentLocationUnitType">F</span></span>
                Current Location (<span data-ng-cloak>{{city}}{{state}}&nbsp;{{country}}</span>)
            </li>
        </ul>
        @foreach (var item in Model.MainItems)
        {
            <ul class="list-group">
                <li class="list-group-item">
                    <span class="badge">@item.CurrentTemperature&deg; @Model.UnitType</span>
                    @item.CityName
                </li>
            </ul>
        }
    </div>

</div>
