@using WeatherInfo.Application.Models.Weather
@model MainViewModel
@{
    ViewBag.Title = "Main";
}

<div data-ng-app="weather-main" data-ng-controller="locationController" data-ng-init="init()">
        <h2>
            Locations &nbsp; &nbsp;
            <button type="button" class="btn btn-info" data-ng-click="showAddLocationForm()">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </button>
        </h2>

        <div modal="showModal" close="modalCancel()">
            <div class="col-md-3"></div>
            <add-location class="col-md-6"></add-location>
            <div class="col-md-3"></div>
        </div>

    <div class="alert alert-success" role="alert" data-ng-show="addSuccess" data-ng-cloak>
        <button type="button" class="close" aria-label="Close" data-ng-click="addLocationAlertReset()"><span aria-hidden="true">&times;</span></button>
        Location saved.
    </div>

    <div class="alert alert-danger" role="alert" data-ng-show="addFail" data-ng-cloak>
        <button type="button" class="close" aria-label="Close" data-ng-click="addLocationAlertReset()"><span aria-hidden="true">&times;</span></button>
        Location save failed.
    </div>

    <div data-ng-controller="weatherController" data-ng-init="init()">
        <input type="hidden" data-ng-model="unitType" />
        <div>
            <ul class="list-group">
                <li class="list-group-item">
                    <span class="badge"><span data-ng-cloak>{{currentLocationTemperature}}</span>&deg; <span data-ng-cloak>{{currentLocationUnitType}}</span></span>
                    Current Location <span data-ng-cloak>{{locationData.inputName}} ({{city}}, {{state}}&nbsp;{{country}}</span>)
                </li>
            </ul>
            <ul class="list-group" data-ng-repeat="locationData in locations" data-ng-cloak data-ng-show="isNgReady">
                <li class="list-group-item">
                    <span class="badge"><span data-ng-cloak><location-Temperature get-weather="getWeather(locationData, successCallback)" latitude="{{locationData.latitude}}" longitude="{{locationData.longitude}}"></location-Temperature></span>&deg; <span data-ng-cloak>{{unitType}}</span></span>
                    <span data-ng-cloak>{{locationData.inputName}} ({{locationData.city}}), {{locationData.state}}&nbsp;{{locationData.country}}</span>
                </li>
            </ul>
            <div data-ng-show="!isNgReady">
            @foreach (var item in Model.MainItems)
            {
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="badge">{{currentLocationTemperature}}&deg; @Model.UnitType</span>
                        @item.City@item.StateCode @item.CountryCode - Server
                    </li>
                </ul>
            }
            </div>
        </div>

    </div>
</div>

@section scripts
{
@Scripts.Render("~/js/main/WeatherController.js")
@Scripts.Render("~/js/main/LocationController.js")
@Scripts.Render("~/js/main/WeatherService.js")
@Scripts.Render("~/js/main/LocationService.js")
@Scripts.Render("~/js/main/GeoLocationService.js")
}
